---
---
{% extends "layouts/base.njk" %}

{% block content %}
  {% include "components/home/hero.njk" %}
  {% include "components/home/near-campus.njk" %}
  {% include "components/home/order-online.njk" %}
  {% include "components/home/reservations.njk" %}
  {% include "components/home/catering-parties.njk" %}
  {% include "components/home/reviews.njk" %}
  {% include "components/home/contact.njk" %}
  {% include "components/home/newsletter-map.njk" %}
{% endblock %}
