---
title: "Menu - PD Thai Cuisine"
permalink: /menus.html
description: "Browse our full menu and place online orders at PD Thai Cuisine. Fresh Thai dishes made with authentic ingredients and traditional recipes."
---
{% extends "layouts/menus.njk" %}

{% block content %}
<iframe src="https://88restaurants.com/{{ client.id }}/online_orders/frame" style="width: 100%; height: 100vh; border: none;"></iframe>
{% endblock %}
